<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828400931208-25vhbtmcfsr9mjjpren68s5tsu76pso1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828400931208-25vhbtmcfsr9mjjpren68s5tsu76pso1</string>
	<key>API_KEY</key>
	<string>AIzaSyDo_DPjyE1sOy4LrxdwcxlxLmUwCfUIIIE</string>
	<key>GCM_SENDER_ID</key>
	<string>828400931208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khatsuk007-gmail.com.JolyBell</string>
	<key>PROJECT_ID</key>
	<string>jolybell-24a3d</string>
	<key>STORAGE_BUCKET</key>
	<string>jolybell-24a3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828400931208:ios:1ed7de621e5b242e1dea3d</string>
</dict>
</plist>