<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>JolyBell/FuturaNewBook-Reg.ttf</string>
		<string>JolyBell/FuturaNewDemi-Reg.ttf</string>
		<string>JolyBell/FuturaNewLight-Reg.ttf</string>
		<string>JolyBell/FuturaNewMedium-Reg.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
